body,
html {
  height: 100%;
  border-style: 100%;
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.hero {
  font-size: .8em;
}

.date {
  margin: 40px 0 0;
}

.time {
  margin-top: -16px;
  font-size: 6em;
}

.todo {
  text-align: left;
}

footer {
  position: fixed;
  bottom: 40px;
  left: 0;
  right: 0;
}

.search-text {
  border: none;
  width: 80%;
  font-size: 16px;
  padding: 8px;
  vertical-align: top;
}

.search-button {
  border: none;
  font-size: 25px;
  background: #dd7f4e;
  color: #fff;
}

.complete {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.6);
}
