body,
html {
  height: 100%;
  border-style: 100%;
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  overflow-y: hidden;
}

.hero {
  font-size: .8em;
}

.date {
  margin: 40px 0 0;
}

.time {
  margin-top: -16px;
  font-size: 6em;
}

.todo {
  text-align: left;
}

.list {
  height: 60%;
  overflow-y: scroll;
}

.list h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);;
  width: 40%;
  margin: 0 auto;
  line-height: 2em;
}

footer {
  position: fixed;
  bottom: 40px;
  left: 0;
  right: 0;
}

.search-text {
  border: none;
  width: 80%;
  font-size: 16px;
  padding: 8px;
  vertical-align: top;
}

.search-button {
  border: none;
  font-size: 25px;
  background: #dd7f4e;
  color: #fff;
}

.chuck {
  margin-bottom: 0;
  padding: 0 4px;
}

.complete {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 800px) {
  .day-time {
    float: left;
    width: 45%;
  }
  .date {
    margin-top: 0;
  }
  .list {
    float: right;
    width: 45%;
    height: 80%;
  }
  footer {
    right: 50%;
  }
}
