body,
html {
  height: 100%;
  border-style: 100%;
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.hero {
  font-size: .8em;
}

.date {
  margin: 40px 0 0;
}

.time {
  margin-top: -16px;
  font-size: 6em;
}
